---
    layout: default
---

<div class="hero-section" >
    <div class="pt-28 pb-28 lg:pb-48 flex">
        <div class="space-y-5 max-w-4xl mx-auto text-center text-gray-700">
            <h1 class="text-9xl  font-bold mx-auto lg:text-8xl">
                .Net Liverpool
            </h1>
            <p class="max-w-xl text-lg mx-auto">
                by developers for developers.
            </p>

            <ul class="flex justify-center mt-4 space-x-4">
                {% include social.liquid wrap_in_li=true %}
            </ul>

            <div class="flex items-center justify-center gap-x-5 font-medium">
                {% include button.liquid 
                    data_toggle='modal' 
                    data_target='#contactUsFormModal' 
                    label='Get in touch' 
                %}
                {% include link_button.liquid 
                    label='Sponsor'
                    href='/sponsor'
                    svg='arrow_up_right'
                    dark=false
                %}
            </div>
        </div>
    </div>
</div>

{% capture modal_form %}
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="sender-email" placeholder="Email Address">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="sender-full-name" placeholder="Full Name">
      </div>
      <div class="form-group">
        <textarea class="form-control" id="sender-message-text" placeholder="Message..."></textarea>
      </div>
    </form>
  {% endcapture %}

{% include modal.liquid 
        id='contactUsFormModal' 
        aria_label='contactUsModal'
        title='Send Message'
        title_id='contactUsModalTitle'
        content=modal_form
        action_label='Send Email' 
        action_function='sendContactEmail("sender-email","sender-full-name","sender-message-text")'
%}

{% include scripts/email.liquid %}